<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gcs.lontaraapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SejarahActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HurufActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DaftarHuruf"
            android:screenOrientation="portrait"/>
        <activity android:name=".TandaBaca"
            android:screenOrientation="portrait"/>
        <activity android:name=".KataActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>